[Desktop Entry]
Name=Phoenicis PlayOnLinux
Type=Application
Exec=phoenicis
Icon=phoenicis
Comment=Graphical front-end for Wine
Categories=Game;Utility;
StartupNotify=true
